<div style="width: 100%; height: 100%; background-color: white" fxLayout="column" fxLayoutAlign="start stretch"
  fxLayoutGap="8px">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="cancel()">
      <mat-icon svgIcon="close"></mat-icon>
    </button>
    Edycja transakcji
  </mat-toolbar>
  <form style="width: 100%; height: 100%; padding: 8px" fxLayout="column" fxLayoutAlign="start stretch"
    [formGroup]="transactionGroup">
    <div style="width: 100%; margin-bottom: 16px" fxFlex="none" fxLayout="row" fxLayoutGap="8px">
      <button mat-raised-button fxFlex="50" [ngClass]="{'active-button-expense': mode === 'expense'}"
        (click)="mode = 'expense'">Wydatek</button>
      <button mat-raised-button fxFlex="50" [ngClass]="{'active-button-income': mode === 'income'}"
        (click)="mode = 'income'">Dochód</button>
    </div>

    <div fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon svgIcon="cash-usd-outline"></mat-icon>
      <mat-form-field>
        <input matInput placeholder="Wartość" type="number" autocomplete="off" type="number" formControlName="amount">
      </mat-form-field>
      <span class="mat-body">zł</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon svgIcon="calendar"></mat-icon>
      <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" autocomplete="off" (click)="picker.open()" formControlName="date">
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon svgIcon="menu"></mat-icon>
      <mat-form-field>
        <mat-label>Kategoria</mat-label>
        <mat-select *ngIf="mode === 'expense'" formControlName="category">
          <mat-option value="food">Jedzenie</mat-option>
          <mat-option value="clothes">Ubrania</mat-option>
          <mat-option value="equipment">Sprzęty</mat-option>
          <mat-option value="entertainment">Rozrywka</mat-option>
          <mat-option value="bills">Rachunki</mat-option>
          <mat-option value="transport">Transport</mat-option>
          <mat-option value="gifts">Prezenty</mat-option>
          <mat-option value="travel">Podróże</mat-option>
          <mat-option value="other">Inne</mat-option>
        </mat-select>
        <mat-select *ngIf="mode === 'income'" formControlName="category">
          <mat-option value="salary">Pensja</mat-option>
          <mat-option value="donation">Darownizna</mat-option>
          <mat-option value="other">Inne</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon svgIcon="pencil"></mat-icon>
      <mat-form-field>
        <mat-label>Opis</mat-label>
        <textarea matInput autocomplete="off" formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div fxFlex></div>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
      <button mat-button (click)="cancel()">Anuluj</button>
      <button mat-raised-button color="warn" type="submit" (click)="delete()" [disabled]="!transactionGroup.valid">Usuń
        transakcję</button>
      <button mat-raised-button color="primary" type="submit" (click)="update()"
        [disabled]="!transactionGroup.valid">Zapisz zmiany</button>
    </div>
  </form>

</div>