<div class="home-content-wrapper">

  <div *ngIf="(api.mainTransactions | async)?.length === 0" class="gray" style="width: 100%; height: 100%"
    fxLayout="column" fxLayoutAlign="center center">
    <mat-icon svgIcon="wallet-outline"></mat-icon>
    Brak transakcji
  </div>

  <div *ngIf="(api.mainTransactions | async)?.length > 0" fxLayout="column" fxLayoutAlign="start stretch"
    fxLayoutGap="4px">
    <app-month-summary></app-month-summary>

    <app-expense-list *ngIf="(api.mainTransactions | async)?.length > 0"></app-expense-list>
  </div>
</div>

<button mat-fab color="accent" class="br-fab" (click)="newTransaction()">
  <mat-icon svgIcon="plus"></mat-icon>
</button>