// $primary: #3f51b5;
// $primary-dark: #002984;
// $primary-light: #757de8;

// $secondary: #e91e63;
// $secondary-dark: #b0003a;
// $secondary-light: #ff6090;

// $success: #4caf50;
// $success-dark: #087f23;
// $success-light: #80e27e;

$primary: #6d4c41;
$primary-dark: #40241a;
$primary-light: #9c786c;

$secondary: #00c853;
$secondary-dark: #009624;
$secondary-light: #5efc82;

$success: #4caf50;
$success-dark: #087f23;
$success-light: #80e27e;

$warn: #f44336;
