/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* App theme files */
@import './theme/variables.scss';
@import './theme/app-theme.scss';

@import '~@angular/material/theming';

@include mat-core();
@include angular-material-theme($app-theme);

button app-icon svg {
  transform: translate(4px, 5px);
}

.no-margin {
  margin: 0 !important;
}

.br-fab {
  position: fixed !important;
  left: calc(100vw - 72px);
  top: calc(100vh - 128px);
}

.home-content-wrapper {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.bg-success {
  background-color: $success;
}

.col-success {
  color: $success;
}

.full-tab-group-2 {
  div.mat-tab-body-wrapper {
    height: 100%;
  }

  div.mat-tab-label {
    width: 50% !important;
  }

  mat-ink-bar {
    width: 50% !important;
  }
}

h1.mat-h1,
h2.mat-h2,
h3.mat-h3,
h4.mat-h4 {
  margin: 0;
}

.wh-100 {
  width: 100%;
  height: 100%;
}
