<mat-card class="tr-list-wrapper" fxLayout="column">
  <mat-card-title>
    <h2 class="mat-h2">Ostatnie transakcje</h2>
  </mat-card-title>
  <mat-card-content class="tr-list-wrapper">
    <div *ngFor="let transaction of (transactions | async)" class="tr-item">
      <mat-divider style="transform: translate(0px, -6px);"></mat-divider>

      <div fxLayout="row" fxLayoutAlign="space-between center" (click)="editTransaction(transaction)">
        <div>
          <h3 class="mat-subheading-2 no-margin tr-category">{{ transaction.category  | category }}</h3>
          <p class="mat-small no-margin">{{ transaction.date | date }}</p>
        </div>
        <h2 class="mat-h2 no-margin"
          [ngClass]="{'tr-amount-income': transaction.mode === 'income', 'tr-amount-expense': transaction.mode === 'expense' }">
          {{ (transaction.mode === 'income' ? '+' : '-') + (transaction.amount | amount) }}</h2>
      </div>
    </div>
  </mat-card-content>
</mat-card>