@import '../../../../theme/variables.scss';

mat-card {
  padding: 0 8px;
}

.tr-list-wrapper {
  width: 100%;
}

.tr-item {
  padding: 4px 8px;
}

.tr-top {
  line-height: 16px;
}

.tr-bottom {
  line-height: 12px;
}

.tr-bar {
  height: 32px;
  width: 3px;
  padding-right: 0 !important;
  &-income {
    background-color: $success;
  }
  &-expense {
    background-color: $warn;
  }
}

.mat-select {
  width: unset !important;
}
