<app-card class="tr-list-wrapper" fxLayout="column">
  <mat-card-title>
    <h2 class="mat-h2">Ostatnie transakcje</h2>
  </mat-card-title>
  <mat-card-content class="tr-list-wrapper">
    <div *ngFor="let transaction of (transactions | async)" class="tr-item">
      <mat-divider style="transform: translate(0px, -6px);"></mat-divider>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" (click)="editTransaction(transaction)">
        <mat-icon [svgIcon]="transaction.category | category:'icon'"></mat-icon>
        <div>
          <h3 class="mat-subheading-2 no-margin tr-top">{{ transaction.category  | category }}</h3>
          <p class="mat-small no-margin">{{ transaction.date | date }}</p>
        </div>
        <div fxFlex></div>

        <div style="text-align: end;">
          <h3 class="mat-subheading-2 no-margin tr-top">
            {{ (transaction.mode === 'income' ? '+' : '-') + (transaction.amount | amount) }}</h3>
          <p class="mat-small no-margin">{{ transaction.addedBy }}</p>
        </div>
        <div class="no-margin tr-bar"
          [ngClass]="{'tr-bar-income': transaction.mode === 'income', 'tr-bar-expense': transaction.mode === 'expense' }">
        </div>
      </div>
    </div>
  </mat-card-content>
</app-card>