@import '../../../../theme/variables.scss';

mat-card {
  padding: 8px;
}

.tr-list-wrapper {
  width: 100%;
}

.tr-item {
  padding: 4px 8px;
}

.tr-category {
  line-height: 16px;
}

.tr-amount {
  &-income {
    color: $success;
  }
  &-expense {
    color: $warn;
  }
}
